<head> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="/socket.io/socket.io.js" charset="utf-8"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<H1> Welcome <%= user.username %> </H1>

<form method="post" action="/users/poll">
    <div class="form-group col-md-8">
      <label for="otherUser">Choose a user</label>
      <select class="form-control">
      <% for(var i=0; i<allUsers.length; i++){ %>
        <option data-value = <%=JSON.stringify(allUsers[i])%>>
        <%= allUsers[i].username %>
        </option>
        <% } %>
      </select>
    </div>
    <input type="hidden" class = "form-control" name="access_token" id="access_token" placeholder = "access_token">
    <input type="hidden" class = "form-control"name="refresh_token" id="refresh_token" placeholder = "refresh_token">
    <input type="hidden" class = "form-control" placeholder = "cal_id" name="cal_id" id="cal_id">
    <input type="hidden" class = "form-control" name="messageSendUser" id="messageSendUser" placeholder = "matched person">
    <input type="hidden" class = "form-control" name = "currCalId" id="currCalId" value=<%=user.cal_id%> >
    <input type="hidden" class = "form-control" name="currUsername" id="username" value = <%=user.username%> >
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<script>
var socket = io();
$("select").change(function(){
    var access_token = $(this).find(":selected").data("value").access_token;
    var refresh_token = $(this).find(":selected").data("value").refresh_token;
    var cal_id = $(this).find(":selected").data("value").cal_id;
    var messageSend = $(this).find(":selected").data("value").username;
    console.log(access_token);
    console.log(refresh_token);
    console.log(cal_id);
    console.log("THE USER TO SEND TO");
    console.log(messageSend);
    localStorage["access_token"] = access_token;
    localStorage["refresh_token"] = refresh_token;
    localStorage["cal_id"] = cal_id;
    localStorage["messageSendUser"] = messageSend;
    $("#access_token").val(access_token);
    $("#refresh_token").val(refresh_token);
    $("#cal_id").val(cal_id);
    $("#messageSendUser").val(messageSend);
    //window.location.replace("http://localhost:50000/users/poll");
});

</script>